<%= product_form.input :category_id, as: "hidden" %>

<%= product_form.input :title, placeholder: "请填写标题" %>
<%= product_form.input :desc, as: :ckeditor, placeholder: "请填写详细介绍", input_html: { ckeditor: { language: 'zh-CN', height: 400}} %>
<%= product_form.input :price, :step => 0.01 %>
<%= product_form.input :address, placeholder: "请填写地址" %>
<div id="address_mark" style="margin:10px 0;">
  <%marked_icon = @product.lat ? "ok" : "remove"%>
  <%= link_to nil, href:"#", class:"btn btn-success", "data-toggle":"modal", "data-target":"#gugnnModal",
  "data-title":"请在地图中标记您的地址", "data-ajax_url":"/map", "data-ajax_callback":"mark_address('product');" do %>
    <i class="glyphicon glyphicon-pushpin"></i>
    <span>在地图上标记地址</span>
  <% end %>
  <span id="marked" class="glyphicon glyphicon-<%=marked_icon%>"></span>
  <%= product_form.input :lat, as: "hidden" %>
  <%= product_form.input :lng, as: "hidden" %>
</div>
<div id="product_images" style="margin:10px 0;">
  <%= render partial:"my/products/forms/image_form", locals:{product_form: product_form}%>
</div>
<% @product.category.category_options.each do |category_option| %>
  <div>
    <% options = category_option.option_values.map{|ov|[ov.id, ov.title]}%>
    <%= product_form.label category_option.title %>
    <%= product_form.collection_radio_buttons category_option.filter_column_name, options, :first, :last,{},{style:"margin:0 10px;"} %>
  </div>
<% end %>
