<p id="notice"><%= notice %></p>

<h1>Hot Cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pingyi</th>
      <th>Acronyms</th>
      <th>Province</th>
      <th>Status</th>
      <th>Integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hot_cities.each do |hot_city| %>
      <tr>
        <td><%= hot_city.name %></td>
        <td><%= hot_city.pinyin %></td>
        <td><%= hot_city.acronyms %></td>
        <td><%= hot_city.province %></td>
        <td><%= hot_city.status %></td>
        <td><%= hot_city.integer %></td>
        <td><%= link_to 'Show', hot_city %></td>
        <td><%= link_to 'Edit', edit_hot_city_path(hot_city) %></td>
        <td><%= link_to 'Destroy', hot_city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hot City', new_hot_city_path %>
