  <div id="outregBox">
        <div id="backtoindex"> <%= link_to '返回首页', root_path %> </div>
          <div id="goReg">已有账户？<%= link_to t(:sign_in), new_session_path(resource_name), class: 'right'  %></div>
  </div>

  <div class="authform-wrap">
    <div id="loginLogo" class="loginLogo"> <%= link_to image_tag('logo.png'), root_path %> </div>

     <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :role => 'form', id:"new_user_form"}) do |f| %>
    <h4><%= t(:sign_up) %></h4>
    <% if flash["alert"]%>
      <span style="color:red;"><%=flash["alert"]%></span>
    <% end %>
      <div class="form-inputs">
        <%= f.input :cellphone, label: false, placeholder: t(:cellphone), autofocus: true %>
        <%= f.input :nickname, label: false, placeholder: t(:nickname)  %>
        <%= f.input :password, label: false, placeholder: t(:password)%>
        <%= f.input :verification_code, label: false, placeholder: t(:input_verify_code), input_html: {style: "float:left;"}, wrapper_html:{style:"float:left;width:55%;"} %>
        <%= button_tag t(:get_verify_code), type: :button, id:"obtainVerifyCode", class:"btn btn-default"  %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t(".sign_up"), style:"width:100%"%>
      </div>
    <% end %>

  </div>
