<div class="my-item" style="margin:15px 0;">
  <table class="" style="">
    <tbody>
      <tr class="my-item-tb-content disp">
        <td class="my-item-tb-content-img-td">
          <%=link_to product_path(product), target:"_blank" do %>
            <span><%= image_tag(product.cover_url, alt: product.title, class:"") %></span>
          <% end %>
        </td>
        <td class="width223">
          <div class="my-item-tb-content-titles">
            <p class="my-item-content-left-title">
              <%=link_to product.title, product_path(product), target:"_blank" %>
            </p>
            <p class="my-item-content-left-date"><%= product.published_at.to_s(:db) %></p>
            <p class="my-item-content-left-detail">
              <%== category_breadscrambs(product.category)%>
            </p>
          </div>
        </td>
        <td class="width223">
          <div class="my-item-tb-content-states">
            <p class="my-item-tb-content-states-p1"><span><%=t(product.status)%></span></p>
            <p class="my-item-tb-content-states-p2">浏览 <%=product.visits%></p>
          </div>
        </td>
        <td>
          <div class="my-item-tb-content-option">
            <span>
              <%=link_to "修改", edit_my_product_path(product), target:"_blank" %>
            </span
            <%if product.authenticated?%>
              <span>
                <%if product.withdrawed?%>
                  <%=link_to "上架", unwithdraw_my_product_path(product), method: "patch" %>
                <%else%>
                  <%=link_to "下架", withdraw_my_product_path(product), method: "patch" %>
                <%end%>
              </span>
            <%end%>
            <span>
              <%=link_to "删除", my_product_path(product), method: "delete" %>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
