<div class="my-item" style="">
  <table class="item" style="height:auto;">
    <tbody>
      <tr class="item-content disp">
        <td class="item-content-img-td"  style="width:20%;">
          <%=link_to product_path(product), target:"_blank" do %>
            <%= image_tag(product.cover_url, alt: product.title, class:"pull-left", style:"width:110px;height:110px;") %>
          <% end %>
        </td>
        <td class="" style="width:80%;">
          <div class="item-content-titles" style="">
            <p class="item-content-left-title">
              <%=link_to product.title, product_path(product), target:"_blank" %>
            </p>
            <p class="item-content-left-date"><%= product.published_at.to_s(:db) %></p>
            <p class="item-content-left-detail">
              <%== category_breadscrambs(product.category)%>
            </p>
          </div>
        </td>
      </tr>
      <tr class="item-content disp">
        <td>
          <div class="item-content-states">
            <span class="item-content-states-p1"><%=t(product.status)%></span>
            <span class="item-content-states-p2">浏览 <%=product.visits%></span>
          </div>
        </td>
        <td>
          <div class="item-content-option" style="margin-left:10px;">
            <span>
              <%=link_to "修改", edit_my_product_path(product), target:"_blank" %>
            </span>
            <%if product.authenticated?%>
              <span>
                <%if product.withdrawed?%>
                  <%=link_to "上架", unwithdraw_my_product_path(product), method: "patch" %>
                <%else%>
                  <%=link_to "下架", withdraw_my_product_path(product), method: "patch" %>
                <%end%>
              </span>
            <%end%>
            <span>
              <%=link_to "删除", my_product_path(product), method: "delete" %>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
