<% for product in @products%>
  <li class="list-group-item clearfix">
    <%=link_to my_product_path(product) do %>
      <%= image_tag(product.cover_url, size: "110x110", alt: product.title, class:"pull-left") %>
    <% end %>
    <div class="pull-left">
      <h3> <%= link_to product.title, my_product_path(product) %> </h3>
      <p>
        押金: <%= product.deposit %> 最低租期: <br/>
        <%= product.owner.realname %>
      </p>

    </div>
    <div class="pull-right">
      <span> <%= display_price(product) %> </span>
    </div>
  </li>
<% end %>
