<%= render partial: 'shared/error_messages', locals: { target: @product } %>

<div class=" my my-new-product" >
  <div class="panel-heading">
    <h2 class="panel-title">创建租赁信息</h2>
  </div>
  <div class="clearfix">
    <% if @product.category %>
      <%= simple_form_for @product, url: my_products_path, :html => {:multipart => true, class:'product-form my-product-form'} do |f| %>

        <div class="form-inputs">
          <%#=render partial: "my/products/forms/#{@product.category}_form"%>
          <%=render partial: "my/products/forms/share_form", locals: {product_form: f}%>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "发布", class: 'btn-danger btn-lg' %>
        </div>

      <% end %>
    <% else %>
      <%=render partial: "category"%>
    <% end %>
  </div>
</div>
