<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', id:"new_session_form"}) do |f| %>

  <% if flash["alert"]%>
    <span style="color:red;"><%=flash["alert"]%></span>
  <% end %>
  <div class="form-inputs">
    <%= f.input :cellphone, label: false, placeholder: t(:cellphone), :autofocus => true %>
    <%= f.input :password, label: false, placeholder: t(:password) %>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div style="float:left;margin-bottom:15px;">
      <%= f.check_box :remember_me, style:"margin:0;" %> <%=t(:remember_me)%>
    </div>
  <% end -%>
  <%- if devise_mapping.recoverable? %>
    <div style="float:right;margin-bottom:15px;">
      <%= link_to t(:forget_password), new_password_path(resource_name), class: 'right' %>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.button :submit, t(:sign_in), style:"width:100%"%>
  </div>
<% end %>
