<% @login ||= "password"%>
<div class=" ">
  <div id="outregBox">
        <div id="backtoindex"> <%= link_to '返回首页', root_path %> </div>
          <div id="goReg">没有账户？<%= link_to t(:sign_up), new_registration_path(resource_name), class: 'right'  %></div>
  </div>
  <div class="authform-wrap">
    <div id="loginLogo" class="loginLogo"> <%= link_to image_tag('logo.png'), root_path %> </div>

    <div>
      <ul class="nav nav-tabs" role="tablist" style="margin:15px 0;padding:0 30px;" >
        <li role="presentation" <% if @login=="password" %>class="active"<%end %> style="width:50%;">
          <a href="#password_login" aria-controls="password_login" role="tab" data-toggle="tab">账户密码登录</a>
        </li>
        <li role="presentation" <% if @login=="varifycode" %>class="active"<%end %> style="width:50%;" >
          <a href="#varifycode_login" aria-controls="varifycode_login" role="tab" data-toggle="tab">手机验证码登录</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane <% if @login=="password" %>active<%end %>" id="password_login">
           <div>
            <%= render partial: 'devise/sessions/password' %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane <% if @login=="varifycode" %>active<%end %>" id="varifycode_login">
          <%= render partial: 'devise/sessions/varifycode' %>
        </div>
      </div>
    </div>

  </div>
</div>
