  <div class=" ">
    <div id="outregBox">
        	<div id="backtoindex"> <%= link_to '返回首页', root_path %> </div>
          <div id="goReg">没有账户？<%= link_to t(:sign_up), new_registration_path(resource_name), class: 'right'  %></div>
    </div>
    <div class="authform-wrap">
      <div id="loginLogo" class="loginLogo"> <%= link_to image_tag('logo.png'), root_path %> </div>

    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <h4><%= t(:sign_in) %></h4>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.input :cellphone, label: false, placeholder: t(:cellphone), :autofocus => true %>
        <%= f.input :password, label: false, placeholder: t(:password) %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div style="float:left;margin-bottom:15px;">
          <%= f.check_box :remember_me, style:"margin:0;" %> <%=t(:remember_me)%>
        </div>
      <% end -%>
      <%- if devise_mapping.recoverable? %>
        <div style="float:right;margin-bottom:15px;">
          <%= link_to t(:forget_password), new_password_path(resource_name), class: 'right' %>
        </div>
      <% end -%>

      <div class="form-actions">
        <%= f.button :submit, t(:sign_in), style:"width:100%"%>
      </div>
    <% end %>
  </div>
</div>
