<%= content_tag 'div', id: dom_id(category),role: 'tabpanel', class: (category_counter==0 ? 'tab-pane active' : 'tab-pane' ) do %>

     <div class="row">
      <div class="col-md-3" >
        <div style="height:300px;background-color:#79FF79;">
          图
        </div>
        <div style="height:100px;background-color:#79FF79;">
          <p> 细分类目</p>
          <div>
          <% category.children.each{|cate| %>
            <%= link_to cate.title, cate %>
          <% } %>
          </div>
        </div>

      </div>
      <div class="col-md-9" >
        <div class="row gg-cate-prods">
          <% category.highlight_subproducts.each_with_index{ |product, i| %>
            <div class="col-md-3" >
              <div class="product-image-wrapper">
              <% if product.master_image.present? %>
              <%= image_tag product.master_image.url, class:"gg-prod-img product-image" %>
              <% else %>
              <%= image_tag 'default.png', class:"gg-prod-img product-image" %>
              <% end %>
              </div>
              <div class="gg-cate-prod-info">
                <div class='gg-cate-prod-price' > <%= display_price product%> </div>
                <div class='gg-cate-prod-title' > <%= link_to product.title, product_path(product)%> </div>
              </div>
            </div>

          <% } %>
        </div>

      </div>
    </div>
 <% end %>
