    <div class="container">
        <div class="row">
            <div class=" welcome col-md-12">
                <h1 class="tagline">Welcome to Dlist</h1>
                <div class="sub">
                <%= link_to "Buy & Sell", sales_path %> |
                <%= link_to "Housing", all_rents_path%> |
                <%= link_to "Events", all_events_path%>
              </div>

            </div>
        </div>


        <div class="row">
          <% @categories.each{ |category| %>
            <div class="col-md-3">
                <p > <%= category.title %></p>
                <div class="">
                  <% category.children.each{|child| %>
                    <%= link_to child.title, category_path(child), class: 'btn' %>
                  <% } %>
              </div>
            </div>
          <% } %>
        </div>


        <div class="row">
          <%= render partial: 'categories' %>
        </div>
    </div>
