<div class="gg-index">
  <%= render partial: 'slider' %>
    <div class="gg-ad">
        <div class="container">
            <ul class="row">
                <li class="col-md-4 gg-col">
                    <span class="pink_font">8000+</span>
                    <span class="blank_font">认证租赁商</span>
                </li>
                <li class="col-md-4 gg-col">
                    <span class="pink_font">10万+</span>
                    <span class="blank_font">优质租赁方案</span>
                </li>
                <li class="col-md-4 gg-col  gg-col-last">
                    <span class="pink_font">200+</span>
                    <span class="blank_font">全国城市覆盖</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">

        <div class="row gg-high-cats">
          <% @categories.each{ |category| %>
            <div class="col-md-3 ">
              <div class="gg-cat-col">
                <div class="gg-cat-col-head">

                  <%= content_tag :div, class: 'cate-icon '+category.name  do %>
                   <span class="title"> <%=category.title %> </span>
                   <span class="slogen"> <%= category.slogen %> </span>
                  <% end %>
                </div>
                <div class="">
                  <% category.children.each{|child| %>
                    <%= link_to child.title, category_path(child), class: 'btn' %>
                  <% } %>
                </div>
              </div>
            </div>
          <% } %>
        </div>
    </div>
  <div class="gg-categories-wrapper">
    <div class="container">
      <div class="gg-common-title">
                <div class="pb-title red-font">10万+优质租赁方案，覆盖全国200+城市</div>
                <div class="pb-des gray-font">优质方案天天推荐，值得您关注</div>
      </div>

        <div class="row gg-cats">
          <%= render partial: 'categories' %>
        </div>
    </div>
  </div>
</div>
