<div class="gg-index">
  <%= render partial: 'slider' %>
  <div class="gg-search">
    <%= form_tag root_path, id: 'gg-search-form', method: :get do |f| %>
      <%=hidden_field_tag :city, session[:city] %>
      <%=hidden_field_tag :category_id %>
      <div class="container">
          <div class="row">
              <div class="col-xs-6">
                <a  class="form-control selectCityBtn"><span class="title">大连市</span><span class="caret"></span> </a>
               </div>
              <div class="col-xs-6">
                <a  class="form-control selectCategoryBtn"><span class="title">选择类目 </span> <span class="caret"></span> </a>
               </div>
              <div class="col-xs-6">
                <%= link_to '我要出租', be_renter_path, class: 'btn' %>
              </div>
              <div class="col-xs-6">
                <button type="submit" class="btn">搜索</button>
              </div>
          </div>
      </div>
      <%= render partial: 'select_category' %>
      <%= render partial: 'select_city' %>
    <% end %>
  </div>

  <div class=" gg-high-cats ">
      <div class="clearfix">
        <% @categories.each{ |category| %>
            <div class="gg-cat-col">
              <div class="gg-cat-col-head">
                <%= link_to category do %>
                  <%= content_tag :div, class: 'cate-icon '+category.name do  %>
                  <% end %>
                  <div>  <span class="title"> <%=category.title %> </span>  </div>
                <% end %>
              </div>
            </div>
        <% } %>
      </div>
  </div>

  <div class="gg-categories-wrapper">
    <div class="">
        <div class="gg-cats">
          <%= render partial: 'categories' %>
        </div>
    </div>
  </div>
</div>
