<div>
  <div class="clearfix">
    <div class="uc-leftside clearfix">
      <%=link_to change_profile_my_account_path(), target:"_blank" do %>
        <%= image_tag(current_user.avatar.url, size: "110x110", alt: current_user.nickname, class:"uc-head-img") %>
      <% end %>
      <div class="uc-user-info">
        <%=link_to current_user.nickname, change_profile_my_account_path(), target:"_blank" %>
      </div>
      <div class="uc-user-limits">
      	<%=link_to change_profile_my_account_path(), target:"_blank" do %>
          <span class="uc-user-limits-mobile-number"><%=current_user.mask_phone%></span>
        <% end %>
      </div>
    </div>
    <div class="uc-rightside" id="uc_mydianpu" style="">
    	<div class="uc-yeying-title-div" onclick="clickLog('from=my_info_shop')">
        <span class="uc-yeying-title" id="dp_name">
          <% shop_info = current_user.authenticated? ? current_user.shop_name : (current_user.shop_name.blank? ? "成为租赁商" : "店铺认证中...") %>
          <%=link_to shop_info, authentication_my_account_path(current_user), target:"_blank" %>
        </span>
      </div>
    </div>
  </div>
</div>
