<div class=" my-auth-form" >
  <div class="panel-heading">
    <h2 class="panel-title">租赁商认证</h2>
  </div>
  <div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" style="margin-bottom: -2px" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">个人认证</a></li>
      <li role="presentation" style="margin-bottom: -2px" ><a href="#company" aria-controls="company" role="tab" data-toggle="tab">企业认证</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="personal">
        <div class="my-item" style="margin:15px 0;">
          <table class="item" style="height:auto;">
            <tbody>
              <tr class="item-content disp">
                <td class="item-content-img-td width90">
                  <%= image_tag("auth_p", size: "110x110", alt: "个人身份证认证") %>
                </td>
                <td class="width223">
                  <div><span style="font-weight:bold;font-size:18px;margin-left:16px;"> 个人身份证认证 </span></div>
                  <div><span style="font-weight:bold;margin-left:16px;"> <%= User.translate_enum_name('id_auth_status', @user.id_auth_status)  %></span></div>
                </td>
                <td class="width243">
                  <div class="item-content-states">
                    <p class="item-content-states-p1"><span> • 需清晰的手持身份证照片</span></p>
                    <p class="item-content-states-p2"><span> • 3-5个工作日完成认证</span></p>
                  </div>
                </td>
                <td>
                  <div class="item-content-option">
                    <span>
                      <% if @user.id_auth_status_none? %>
                        <%=link_to '申请认证', auth_idcard_my_account_path(@user), class:"btn btn-success", target:"_blank" %>
                      <% else %>
                        <%=link_to '查看认证', auth_idcard_my_account_path(@user), class:"btn btn-success", target:"_blank" %>
                      <% end %>
                    </span
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div role="tabpanel" class="tab-pane " id="company">
        <div class="my-item" style="margin:15px 0;">
          <table class="item" style="height:auto;">
            <tbody>
              <tr class="item-content disp">
                <td class="item-content-img-td width90">
                  <%= image_tag("auth_c", size: "110x110", alt: "营业执照认证") %>
                </td>
                <td class="width223">
                  <div><span style="font-weight:bold;font-size:18px;margin-left:15px;"> 营业执照认证 </span></div>
                  <div><span style="font-weight:bold;margin-left:16px;"> <%= User.translate_enum_name('id_auth_status', @user.id_auth_status)  %></span></div>
                </td>
                <td class="width243">
                  <div class="item-content-states">
                    <p class="item-content-states-p1"><span> • 需上传清晰营业执照照片</span></p>
                    <p class="item-content-states-p2"><span> • 3-5个工作日完成</span></p>
                  </div>
                </td>
                <td>
                  <div class="item-content-option">
                    <span>
                      <% if @user.licence_auth_status_none? %>
                        <%=link_to '申请认证', auth_licence_my_account_path(@user), class:"btn btn-success", target:"_blank" %>
                      <% else %>
                        <%=link_to '查看认证', auth_licence_my_account_path(@user), class:"btn btn-success", target:"_blank" %>
                      <% end %>
                    </span
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
