<div class="my-auth-form" style="" >
  <div class="panel-heading">
    <h2 class="panel-title"><%= t(:change_profile) %></h2>
  </div>
  <div class="panel-body">
    <%= render partial: 'avator' %>
    <%= simple_form_for(@user, url: change_profile_my_account_path(), :html => {:method => :patch, :multipart => true, id:"change_profile_form"}) do |f| %>
      <div class="form-inputs">
        <%= f.input :nickname%>
        <%= f.input :cellphone%>
        <div  class="form-group string optional user_verification_code">
          <%= f.label :verification_code %>
          <div class="input-group">
            <%= f.text_field :verification_code, placeholder: t(:input_only_change_phone), class: 'form-control string optional' %>
            <span class="input-group-btn">
              <%= button_tag t(:get_verify_code), type: :button, id:"obtainVerifyCode", class: 'btn btn-default' %>
            </span>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :button, t(:change), class: 'btn-danger submit', type: "button", style:"width:100%", id:"change_profile_button"%>
      </div>
    <% end %>

  </div>
</div>
<div class="my-auth-form" >
  <div class="panel-heading">
    <h2 class="panel-title">修改密码</h2>
  </div>
  <div class="panel-body">

  <%= simple_form_for(@user, url: change_password_my_account_path(@user), :html => {:method => :patch, id:"change_password_form"}) do |f| %>

    <div class="form-inputs">
      <%= f.input :current_password, label: false, placeholder: t(:current_password)%>
      <%= f.input :password, label: false, placeholder: t(:new_password)%>
      <%= f.input :password_confirmation, label: false, placeholder: t(:password_confirmation)%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(:change), class:'btn-danger submit', style:"width:100%" %>
    </div>
  <% end %>

  </div>
</div>
