<p id="notice"><%= notice %></p>

<p>
  <strong>Pv:</strong>
  <%= @page_click.pv %>
</p>

<p>
  <strong>Uv:</strong>
  <%= @page_click.uv %>
</p>

<%= link_to 'Edit', edit_page_click_path(@page_click) %> |
<%= link_to 'Back', page_clicks_path %>
