<div class="panel panel-default my-auth-form" >
  <div class="panel-heading">
    <%auth_title= @user.auth_type == 0 ? "个人身份证认证" : "营业执照认证"%>
    <h2 class="panel-title"><%=auth_title%></h2>
  </div>
  <div class="panel-body">
    <div style="margin:15px 0 30px 0;">
      <h2>
      <span class="label <%= @user.prepare_auth? ? 'label-danger' : 'label-default'%>" style="padding:15px;">1.填写信息</span>&nbsp;>>
      <span class="label <%= @user.wait_auth? ? 'label-danger' : 'label-default'%>" style="padding:15px;">2.等待审核</span>&nbsp;>>
      <span class="label <%= @user.authenticated? ? 'label-danger' : 'label-default'%>" style="padding:15px;">3.审核通过</span>
    </h2>
    </div>
    <%= render partial:"auth_form"%>
  </div>
</div>
