<div class="panel panel-default" style="width:100%;" >
  <div class="panel-heading">
    <h2 class="panel-title">租赁商认证</h2>
  </div>
  <div class="panel-body">
    <%= simple_form_for(@user, url: authentication_my_account_path(@user), :html => {:method => :patch, :multipart => true, id:"authentication_form"}) do |f| %>

      <div class="form-inputs">
        <label class="control-label string optional" for="user_auth_type">认证类型</label>
        <%= f.collection_radio_buttons :auth_type, [[0,"个人"], [1,"公司"]], :first, :last,{},{style:"margin:0 10px;"} %>
        <%= f.input :shop_name, placeholder: "商店/公司名称"%>
        <label class="control-label string optional" for="user_category_id">租赁类目</label>
        <%= f.select :category_id, nested_set_options(Category, @user.category) {|i| "#{'-' * i.level} #{i.title}" } %>
        <%= f.input :id_number, placeholder: "身份证号/工商执照注册号"%>

        <%= render partial:"image_form", locals:{f: f}%>

        <%= f.input :city, placeholder: "店铺/公司所在城市"%>
        <%= f.input :shop_address, placeholder: "店铺/公司具体地址"%>
        <div id="address_mark" style="margin:10px 0;">
          <%marked_icon = @user.lat ? "ok" : "remove"%>
          <%lat = @user.lat ? @user.lat : 0%>
          <%lng = @user.lng ? @user.lng : 0%>
          <%= link_to nil, href:"#", class:"btn btn-success", "data-toggle":"modal", "data-target":"#gugnnModal",
          "data-title":"请在地图中标记您的地址", "data-ajax_url":"/map", "data-ajax_callback":"mark_address('user');" do %>
            <i class="glyphicon glyphicon-pushpin"></i>
            <span>在地图上标记地址</span>
          <% end %>
          <span id="marked" class="glyphicon glyphicon-<%=marked_icon%>"></span>
          <%= f.input :lat, as: "hidden" %>
          <%= f.input :lng, as: "hidden" %>
        </div>

        <%= f.input :contact_person, placeholder: "用于重要或紧急事项的联系"%>
        <%= f.input :contact_phone, placeholder: "电话/手机号"%>
        <%= f.input :contact_other, placeholder: "QQ/微信/邮箱"%>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "提交认证信息", style:"width:100%"%>
      </div>
    <% end %>

</div>
