<div class=" my-auth-form" style="" >
  <div class="panel-heading">
    <h2 class="panel-title"><%= t(:change_profile) %></h2>
  </div>
  <div class="panel-body">

    <%= simple_form_for(@user, url: change_profile_my_account_path(@user), :html => {:method => :patch, :multipart => true, id:"change_profile_form"}) do |f| %>
      <%= render partial: 'avator', locals:{f: f} %>
      <div class="form-inputs">
        <%= f.input :nickname%>
        <%= f.input :cellphone, required: true %>
          <div style="float:left;width:50%;" class="form-group string optional user_verification_code">
            <%= f.label :verification_code %>
            <div class="input-group">
              <%= f.text_field :verification_code, placeholder: t(:input_only_change_phone), class: 'form-control string optional' %>
              <span class="input-group-btn">
                <%= button_tag t(:get_verify_code), type: :button, id:"obtainVerifyCode", class: 'btn btn-default' %>
              </span>
            </div>
          </div>
      </div>

      <div class="form-actions">
        <%= f.button :button, t(:change), class: 'btn-danger submit', type: "button", style:"width:100%", id:"change_profile_button"%>
      </div>
    <% end %>

  </div>
</div>
