<div class="panel panel-default my-auth-form" style="" >
  <div class="panel-heading">
    <h2 class="panel-title">修改密码</h2>
  </div>
  <div class="panel-body">

  <%= simple_form_for(@user, url: change_password_my_account_path(@user), :html => {:method => :patch, id:"change_password_form"}) do |f| %>

    <div class="form-inputs">
      <% if @user.encrypted_password.present? %>
        <%= f.input :current_password, label: false, placeholder: t(:current_password)%>
      <% end %>
      <%= f.input :password, label: false, placeholder: t(:new_password)%>
      <%= f.input :password_confirmation, label: false, placeholder: t(:password_confirmation)%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(:change), class:'btn-danger submit' %>
    </div>
  <% end %>

  </div>
</div>
