<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <%== build_breadscrambs(@category) %>
    </ol>
  </div>

    <div class="row">
      <div class="col-md-12">
        <dl>
          <% @category.category_options.each{|co| %>
              <dt> <%= co.title %> </dt>
              <dd><%= link_to_with_filters OptionValue.any_option_value(co) %>
              <% co.option_values.each{| ov| %>
                <%= link_to_with_filters ov %>
              <% } %>
              </dd>
          <% } %>
        </dl>
      </div>
      <div class="col-md-12">
        <div class=" selected-filters">
          <span class="title">条件 </span>
          <%== show_product_filters %>
        </div>
      </div>
    </div>


    <div class="products">
      <h3> 产品 </h3>
      <ul class="list-group clearfix">
        <% @products.each_with_index{|product, i| %>
          <li class="product clearfix <%= cycle('odd', 'even') -%>">
            <%= link_to product_path( product)  do %>
              <div class="pimage-wrap"> <%= product_image product %> </div>
              <div class="product-info pull-left">
                <div class="pprice ">
                    <span> <%== display_price(product) %> </span>
                </div>
                <p class="ptitle"> <%= product.title %> </p>
               </div>
            <% end %>
          </li>
          <% } %>
      </ul>
      <%= paginate @products %>
    </div>
</div>
