<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <dl>
          <% @category.category_options.each{|co| %>
              <dt> <%= co.title %> </dt>
              <dd><%= link_to_with_filters OptionValue.any_option_value(co) %>
              <% co.option_values.each{| ov| %>
                <%= link_to_with_filters ov %>
              <% } %>
              </dd>
          <% } %>
        </dl>
      </div>
      <div> <span>选择的条件: </span></div>
    </div>


    <div>
      <h3> 产品 </h3>
      <ul class="list-group">
        <% @products.each{|product| %>
          <li class="list-group-item clearfix">
              <%= image_tag("default.png", size: "110x110", alt: product.title, class:"pull-left") %>
            <div class="pull-left">
              <h3> <%= link_to product.title, product_path( product) %> </h3>
              <p>
                押金: <%= product.deposit %> 最低租期: <br/>
                <%= product.owner.realname %>
              </p>

            </div>
            <div class="pull-right">
              <span> <%= display_price(product) %> </span>
            </div>
          </li>
          <% } %>
      </ul>
      <%= paginate @products %>
    </div>
</div>




<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @category.desc %>
</p>

<p>
  <strong>Slugged:</strong>
  <%= @category.slugged %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
