<% #locals :user %>

<div class="owner-profile">
  <p>       关于租赁方 </p>
  <div class="avatar">
    <a> <%= user_avatar(@product.owner) %> </a>
  </div>

  <div class="name">  <span> <%= @product.owner.nickname %> </span> </div>
  <div>  <span> 服务保障：</span>
    <%= '企业认证' if @product.owner.licence_auth_status_done?%> <%= '实名认证' if @product.owner.id_auth_status_done? %>
    <%= '未认证用户' unless @product.owner.licence_auth_status_done? || @product.owner.id_auth_status_done? %>
  </div>
  <div>  <span> 服务承诺：</span> 专业设备！质量第一！ </div>
  <div>  <span> 支持发票：</span> 普通发票增值税专用发票 </div>

</div>
