<ol class="breadcrumb">
  <li><a href="#">首页</a></li>
  <li><a href="#">大连市区办公设备租赁</a></li>
  <li><a href="#">大连市区打印机复印机租赁</a></li>
  <li class="active"> <%=@product.title %></li>
</ol>

<p id="notice"><%= notice %></p>

<div class="container" >
  <div class="row">
    <div class="col-md-5">
      product images
    </div>
    <div class="col-md-5">
      product title price
    </div>
    <div>
      user profile
    </div>
  </div>

  <div class="row">
    product description
  </div>

</div>

<p>

  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>Slugged:</strong>
  <%= @product.slugged %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @product.owner_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
