<%= hidden_field_tag 'product_lat', @product.lat %>
<%= hidden_field_tag 'product_lng', @product.lng %>

<div class="container breadcrumb-wrap">
    <ol class="breadcrumb">
      <%== build_breadscrambs(@category) %>
      <li class="active"> <%=@product.title %></li>
    </ol>
</div>

<div class="container show-product" >
  <div class="row product-base">
    <div class="col-md-6">
      <div class="product-images-wrapper">
        <!-- Swiper -->
        <div class="swiper-container gallery-large">
            <div class="swiper-wrapper">
              <% if @product.images.present? %>
                <% @product.images.each_with_index{| image, i| %>
                  <%= tag :div, { class: 'swiper-slide', style: "background-image:url(#{ image.photo.url})"},  true %> </div>
                <% } %>
              <% else %>
                <%= tag :div, { class: 'swiper-slide', style: "background-image:url(#{image_url('slides/default.png')})"},  true %> </div>
              <% end %>
            </div>

        </div>
        <div class="swiper-container gallery-thumb">
          <% if @product.images.present? %>
            <div class="swiper-wrapper">
                <% @product.images.each_with_index{| image, i| %>
                  <%= tag :div, { class: 'swiper-slide', style: "background-image:url(#{ image.photo.url})"},  true %> </div>
                <% } %>
            </div>
            <!-- Add Arrows -->
            <div class="arrow-right">
              <a class="swiper-button-next swiper-button-white" > </a>
            </div>
            <div class="arrow-left">
              <a class="swiper-button-prev swiper-button-white" > </a>
            </div>
          <% end %>
        </div>
      </div>
      <% image =  @product.master_image || Image.new %>
      <% #= image_tag image.photo.url(:large) %>

    </div>
    <div class="col-md-6 product-info">
        <h2 class="name"> <%= @product.title %> </h2>

        <div class="pay-price clearfix">
            <div class="pull-left price" >
                <span class="mr-15" >租金：</span>
                <span class="high-light-red">
                    <span class="first">￥</span>
                    <span class="two"><%= @product.price %></span>
                    <span class="three">/<%= @product.display_tenancy %></span>
                </span>
            </div>
            <div class="pull-right deposit">
                <div class="pay-re condition-1"><span class="mr-15" >押金：</span>￥<span id="yaj"> <%= @product.deposit %></span></div>
                <div class="pay-re condition-last">1<%=  @product.display_min_tenancy %>起租</div>
            </div>
        </div>
        <ul class="house-basic-item3">

          <li>
              <span class="c_999">位置：</span>
              <span class="c_000 mr_10"> <%= @product.latlng_address %> </span>
              <span><a href="#mapWrap" class="mapNavIcon td-u"  data-turbolinks="false"><i class="icon"></i>地图</a></span>
              <span id="collection" style="float:right;">
                <%if current_user.collect?(@product)%>
                  已收藏
                <%else%>
                  <%=link_to "收藏", my_collections_path(product_id: @product.id), method: :post, remote: true%>
                <%end%>
                (收藏次数：<%=@product.collection_count%>)
              </span>
          </li>
        </ul>
        <div>
          <div class="house-basic-item4">
                          <p class="nav"><a href="#" target="_blank" onclick=""> <%= user_avatar(@product.owner) %></a><span class="f14 c_333 jjrsay"><%=@product.owner.nickname%> 说</span></p>
                          <p class="c_999 lh22 jjr-desc"> <%= @product.ad || '广告语'%> </p>
          </div>
        </div>
        <div class="house-chat-entry clearfix" id="houseChatEntry">
          <div class="house-chat-phone">
              <p class="phone-logo"><i class="glyphicon glyphicon-earphone"></i></p>
              <p class="phone-num"> <%= @product.owner.cellphone %> </p>
          </div>
        </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="side-left-wrap">
        <%= render partial: 'owner_profile' %>
      </div>
    </div>
    <div class="col-md-9 product-details">
      <div class="navbar navbar-default" >
        <ul class="nav nav-tabs" role="tablist">
              <li >
                <a href="#generalProperty" data-turbolinks="false"> 概况</a>
              </li>
              <li class="">
                <a href="#generalDesc" data-turbolinks="false">商品描述</a>
              </li>
              <li  class="">
                <a href="#generalExpense" data-turbolinks="false">租赁描述</a>
              </li>
              <li  class="">
                <a href="#generalImage" data-turbolinks="false">图片说明</a>
              </li>

              <li   class="">
                <a href="#mapWrap" data-turbolinks="false">位置</a>
              </li>
        </ul>
      </div>
      <div>
        <div id="generalProperty">
          <h3>概况</h3>
          <%== @product.desc %>
        </div>
        <div id="generalDesc">
          <h3>设备描述</h3>
          <%== @product.desc %>
        </div>
        <div id="xiaoWrap">
          <h3>租赁描述</h3>
          <%== @product.lease_desc %>
        </div>
        <div id="generalImage" class="product-image-list clearfix">
          <h3>图片说明</h3>
          <% @product.images.each_with_index{| image, i| %>
            <div class="product-image-item">
              <%= image_tag image.photo.url %>
            </div>
          <% } %>
        </div>
        <div id="mapWrap">
          <h3>位置</h3>
          <div id="product_map_container">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=b9623a2eb0261d9d5453eb78e4c66f4e&plugin=AMap.Geocoder"></script>
