<!--
<table style="width:100%;">
  <tr>
    <td style="text-align:center;"><i class="glyphicon glyphicon-home" style="margin: 5px 0;"></i></td>
    <td style="text-align:center;"><i class="glyphicon glyphicon-star" style="margin: 5px 0;"></i></td>
    <td style="text-align:center;"><i class="glyphicon glyphicon-pencil" style="margin: 5px 0;"></i></td>
    <td style="text-align:center;"><i class="glyphicon glyphicon-lock" style="margin: 5px 0;"></i></td>
    <td style="text-align:center;"><i class="glyphicon glyphicon-user" style="margin: 5px 0;"></i></td>
  </tr>
  <tr>
    <td style="text-align:center;"><%=link_to "首页", root_path %></td>
    <td style="text-align:center;"><%=link_to "发现", my_account_index_path %></td>
    <td style="text-align:center;"><%=link_to "发布", new_my_product_path %></td>
    <td style="text-align:center;"><%=link_to "消息", my_account_index_path %></td>
    <td style="text-align:center;"><%=link_to "我的", my_account_index_path %></td>
  </tr>
</table>
-->
<% menus = {
  :home => {title:"首页", path:root_path, icon:"home"},
  :find => {title:"发现", path:"", icon:"star"},
  :publish => {title:"发布", path:new_my_product_path, icon:"pencil"},
  :message => {title:"消息", path:"", icon:"envelope"},
  :account => {title:"我的", path:my_account_index_path, icon:"user"}

   }
%>

<div style="width:100%;display:flex;justify-content:space-around;">
  <% menus.each_value do |menu| %>
    <% controller, action = parse_path(menu[:path]) %>
    <% color = (params[:controller] == controller && params[:action] == action) ? "#d61718" : "black"%>
    <%=link_to menu[:path], style:"width:25%;color:#{color};" do %>
        <div style="width:100%;display:flex;justify-content:space-around;">
          <i class="glyphicon glyphicon-<%=menu[:icon] %>" style="margin: 5px 0;"></i>
        </div>
        <div style="width:100%;display:flex;justify-content:space-around;">
          <span><%=menu[:title] %></span>
        </div>
    <% end %>
  <% end %>

</div>
