<div class="">
          <div class="footer-nav">
            <div class="width-1-5 nav-item-wrap">
              <%= link_to root_path do %>
              <span class="fa fa-home font-icon" aria-hidden="true"></span>
              <div class="nav-item"> 首页 </div>
              <% end %>
            </div>
            <div class="width-1-5 nav-item-wrap">
              <%= link_to root_path do %>
              <span class="fa fa-search font-icon" aria-hidden="true"></span>
              <div class="nav-item"> 发现</div>
              <% end %>
            </div>
            <div class="width-1-5 nav-item-wrap">
              <%= link_to new_my_product_path do %>
                <span class="fa fa-edit font-icon" aria-hidden="true"></span>
                <div class="nav-item">发布</div>
              <% end %>
            </div>
            <div class="width-1-5 nav-item-wrap">
              <%= link_to root_path do %>
                <span class="fa fa-envelope font-icon" aria-hidden="true"></span>
                <div class="nav-item"> 消息 </div>
              <% end %>
            </div>
            <div class="width-1-5 nav-item-wrap">
              <%= link_to my_root_path do %>
                <span class="fa fa-user font-icon" aria-hidden="true"></span>
                <div class="nav-item">我的</div>
              <% end %>
            </div>
          </div>
</div>
