<div class=" container">
  <%= link_to image_tag( "logo.png", alt: '光棍租生活', class: 'logo'), root_path, class:'logo' %>
  <ul class="main-menu pull-right">
    <li id='categories_li'>
      <%= link_to "javascript:void(0)", id: 'categories_btn', class:'',data:{ }  do %>
        租赁分类 <span class="caret"></span>
      <% end %>

      <ul class="dropdown-menu subcategories">
        <%  Category.roots.includes(:children).each{ |category| %>
                <li>
                  <%= link_to category.title, category, href: '#' %>
                  <div class="subcategory">
                    <% category.children.each{|child| %>
                      <%= link_to child.title, child  %>
                    <% } %>
                  </div>
                </li>
        <% } %>
      </ul>
    </li>
      <li> <%= link_to "资迅中心", root_path, id:'news_btn' %> </li>

      <li><%= link_to "成为租赁商", new_user_registration_path, id:'be_agency_btn' %></li>
  </ul>
</div>
