<%# navigation styled for Bootstrap 3.0 %>
<nav class="">
  <div class="container">
    <div class=" ">
      <ul class="nav navbar-nav">
        <li> <%=session[:selected_city]%><%= link_to t(:change_city), select_city_path %> </li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to "#{current_user.nickname}(#{number_to_currency(current_user.balance)})", my_account_index_path %></li>

          <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
