<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>光棍租生活</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'pc/application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= render partial: 'layouts/js.html.erb' %>
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <%= favicon_link_tag %>
    </head>

    <body class="pc">
      <div class="gg-top-nav">
        <%= render partial: 'layouts/navigation' %>
      </div>
      <div class="menu-wrapper">
        <%= render partial: 'layouts/main_menu' %>
      </div>
      <div class="gg-page-content clearfix">
          <%= yield %>
      </div>
      <div class="gg-footer">
        <div class="container">
          <%= render partial: 'layouts/footer' %>
        </div>
      </div>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </body>

</html>
