<!DOCTYPE html>
<html>
    <head>
        <title>光棍族生活</title>

        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= render partial: 'layouts/js.html.erb' %>
    </head>

    <body class="pc">
      <div class="gg-top-nav">
        <%= render partial: 'layouts/navigation' %>
      </div>
      <div class="menu-wrapper">
        <%= render partial: 'layouts/main_menu' %>
      </div>
      <div class="gg-page-content clearfix">
          <%= yield %>
      </div>
      <div class="gg-footer">
        <div class="container">
          <%= render partial: 'layouts/footer' %>
        </div>
      </div>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </body>

</html>
