<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>光棍租生活</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'mobile/application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= render partial: 'layouts/js.html.erb' %>
    </head>

    <body class="mobile">
      <div class="gg-top-nav">
        <%= render 'layouts/navigation' %>
      </div>
      <div class="gg-page-content clearfix">
          <%= yield %>
      </div>
      <div class="gg-footer navbar-fixed-bottom">
          <%= render 'layouts/footer' %>
      </div>

      <div class="gg-overlay"> </div>
      <%= javascript_include_tag 'mobile/application', 'data-turbolinks-track': 'reload' %>
    </body>

</html>
