<!DOCTYPE html>
<html>
    <head>
        <title>Dlist</title>

        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="head-nav">
            <% if current_user%>
            Balance:
            <%=number_to_currency(current_user.balance)%>
            |
            <%= link_to "Mailbox", conversations_path %>
            |
            <%= link_to "Contact Us", conversations_path(sender_id: current_user.id, recipient_id: User.find_by_email("admin@dlist.com").id), :method => :post%>
            |
            <%= link_to "Profile", edit_user_registration_path(current_user) %>
            |
            <%= link_to "Log Out", logout_path %>
            |
        <% else %>
            <%= link_to "Create Account", new_user_registration_path %>
            |
            <%= link_to "Log In", new_user_session_path %>
            |
            <% end %>
            <%= link_to "Home", site_path %>
        </div>

        <% flash.each do |name, msg| %>
        <p>
            <small>
                <%= name.capitalize %>:
                <%= msg %>
            </small>
        </p>
        <% end %>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <%= yield %>
                </div>
            </div>
        </div>

    </body>

</html>
