<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= render 'layouts/js' %>
    <%= render 'my/shared/head' %>
  </head>
  <body class="pc my">
    <div class="gg-page gg-account">
      <div class="gg-top-nav">
        <%= render 'layouts/navigation' %>
      </div>
      <div class="gg-page-body ">
        <div class="menu-wrapper">
          <%= render 'my/shared/navigation' %>
        </div>
        <div class="main">
          <div class="container">
            <div class="leftside">
              <%= render "my/shared/menus" %>
            </div>
            <div class="rightside">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>

          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/modal' %>
    <%= render 'layouts/map_modal' %>
    <%= javascript_include_tag 'my', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=b9623a2eb0261d9d5453eb78e4c66f4e&plugin=AMap.Geocoder"></script>
    <!--
    <script type="text/javascript" src="https://api.map.baidu.com/getscript?v=2.0&ak=1sG8ySYpodXUgrNhdOymr6H937BkGEtu&services=&t=20170803155555"></script>
    -->
  </body>
</html>
