<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render 'my/shared/head' %>
  </head>
  <body>
    <div class="page">
      <div>
        <%= render 'my/shared/navigation' %>
        <%= render partial: "my/shared/menus" %>
      </div>
      <div class="main">
        <div class="container">

          <div class="leftside">

          </div>
          <div class="rightside">
            <%= yield %>
          </div>

        </div>
      </div>
    </div>
    <%#= render 'layouts/footer' %>
  </body>
</html>
